{% extends "base_page.html" %}

{% block cs_block %}

{% end %}

{% block body_block %}
{% from handler.MainHandler import hello %}

<h1>{{ info }}</h1>

<h6>{{ request.full_url() }}</h6>

<h6>{{ hello() }}</h6>

{% if "permission_fxxk" in current_user["permissions"] %}
<h1>Has permission</h1>
{% else %}
<h1>permission denied</h1>
{% end %}


<div id="main" style="width: 100%; height: 50vmin;"></div>

{% end %}

{% block js_block %}
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["1月","2月","3月","4月","5月","6月"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'line',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
</script>
{% end %}